@import './variables';

.v-application {
  background: #fff !important;
  font: 300 #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-weight: 300;

  .container {
    max-width: 1200px !important;
    padding: 0 12px !important;

    @media only screen and (max-width: 599px) {
      padding: 0 8px !important;
    }
  }

  .responsiveMenu {
    a {
      color: $black;
    }
  }
}

.col-5th {
  flex-basis: 20% !important;
  max-width: 20% !important;
}

@media (min-width: 1265px) {
  // .custom-col {
  //   flex-basis: 20% !important;
  //   max-width: 20% !important;
  // }
}

@media (max-width: 1264px) {
  .col-5th {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
}

@media (max-width: 768px) {
  .col-5th {
    flex-basis: 33.33% !important;
    max-width: 33.33% !important;
  }
}

@media (max-width: 599px) {
  .col-5th {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
}